* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(102, 102, 153);
}
.block-player {
  margin: 85px auto;
  width: 400px;
  height: 400px;
}
.block-player_content {
  border-radius: 20px;
  width: 100%;
  height: 100%;
  background: gray;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.block-player_cover {
    border-radius: 20px;
  width: 100%;
  height: 300px;
}
.block-player_audio {
  height: 200px;
}
.block-player_controls-block{
    width: 100%;
    height: 35px;
    display: flex;
    justify-content: space-around;
}
.controls-block_name{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100px;
}
.play-music{
    width: 32px;
    height: 32px;
}
.music-switching{
    width: 32px;
    height: 32px;
}
.hover-opacity:hover{
    opacity: 0.5;
}
/*FOOTER*/
footer {
  background: rgb(175, 164, 164);
  display: flex;
  justify-content: space-between;
  height: 48px;
  width: 100%;
  margin-top: 50px;
  border: 0;
}
footer p {
  color: #1f233e;
  font-family: Work Sans, sans-serif;
  font-size: 18px;
  font-weight: 800;
}
/*Logo RS Scholl*/
.logoRS {
  margin: 0 auto;
  border: 5px solid white;
  border-radius: 10px;
  width: 100px;
}
/*Logo git*/
.git {
  width: 110px;
  height: 32px;
  margin-top: 5%;
}
